#cat{
	height: 300px;
	width: 280px;
}

#rat{
	height: 200px;
	width: 400px;
}

#sheep{
    height:240px;
    width: 320px;
}

#pigeon{
	height:250px;
    width: 270px;
}

#sparrow{
	height: 230px;
	width: 320px;
}

#marigold{
	height: 250px;
	width: 280px;
}

#eggplant{
	height: 280px;
	width: 280px;
}

#jasmine{
	height: 260px;
	width: 280px;
}

#rabbit{
	height: 280px;
	width: 300px;
}